<a href="https://colab.research.google.com/github/zakir1999/100_Days_ML/blob/main/16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Working with Json

In [ ]:
df=pd.read_json('train.json')

In [ ]:
df

In [ ]:

##

#IF you want to open sql data set then at first you have to download sql dataset and xammp software.After that open localhost and upload sql file to xammp.

In [ ]:
import mysql.connector
conn=mysql.connector.connection(host='localhost',user='root',password='',database='database_name')

pd.read_sql_query("SELECT * FROM city",conn)