<a href="https://colab.research.google.com/github/zakir1999/100_Days_ML/blob/main/34.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Handling date-and-time

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
date=pd.read_csv('orders.csv')
time=pd.read_csv('messages.csv')

In [ ]:
date.head()

In [ ]:
time.head()

In [ ]:
date.info()

# Working with Dates

In [ ]:
date['date']=pd.to_datetime(date['date'])

In [ ]:
date.info()

# 1.Extract year

In [ ]:
date['date_year']=date['date'].dt.year

In [ ]:
date['date_year']

# Extract month

In [ ]:
date['date_month_no']=date['date'].dt.month
date.head()

In [ ]:
date['date_month_name']=date['date'].dt.month_name()

In [ ]:
date['date_month_name'].head()

## Extract Days

In [ ]:
date['date_day']=date['date'].dt.day

date.head()

In [ ]:
# day of week

date['date_dow']=date['date'].dt.dayofweek
date.head()

In [ ]:
date['date_dow_name']=date['date'].dt.day_name()

In [ ]:
date['date_dow_name'].head()

In [ ]:
# is weekend?


date['date_is_weekend']=np.where(date['date_dow_name'].isin(['Friday','Saturday']),1,0)

date.drop(columns=['product_id','city_id','orders']).head()

## Extract week of the year

In [ ]:
date['date_week']=date['date'].dt.strftime("%V")

date.drop(columns=['product_id','city_id','orders']).head()

# Extract Quarter

In [ ]:
date['quarter']=date['date'].dt.quarter
date.drop(columns=['product_id','city_id','orders']).head()

In [ ]:
date['quarter'].head(20)

# Extract Semester

In [ ]:
date['semester']=np.where(date['quarter'].isin([1,2]),1,2)
date.drop(columns=['product_id','city_id','orders']).head()

# Extract Time elapsed between dates

In [ ]:
import datetime
today=datetime.datetime.today()
today

In [ ]:
today-date['date']

In [ ]:
(today-date['date']).dt.days

In [ ]:
# Months passed

np.round((today-date['date'])/np.timedelta64(1,'M'),0)

In [ ]:
time.info()

In [ ]:
time['date']=pd.to_datetime(time['date'])

In [ ]:
time.info()

In [ ]:
time['hour']=time['date'].dt.year
time['min']=time['date'].dt.minute
time['sec']=time['date'].dt.second
time.head()

# Extract Time part

In [ ]:
time['time']=time['date'].dt.time
time.head()

In [ ]:
today-time['date']

In [ ]:
(today - time['date'])/np.timedelta64(1,'s')

In [ ]:
# in minutes

(today - time['date'])/np.timedelta64(1,'m')

In [ ]:
# in hours

(today - time['date'])/np.timedelta64(1,'h')