# Branching with if,else and elif

In [2]:
num=34

In [4]:
if num%2==0:
    print("We're inside an if block")
    print('The given number {} is even.'.format(num)) # {} use for pritn number here .format are for convert to string

We're inside an if block
The given number 34 is even.

In [5]:
anon=33
if anon%2==0:
    pritn("the given number {} is even.".format(anon))

In [6]:
if num%2==0:
    print('The given nubmer {} is even'.format(num))
else:
    print('The given number {} is odd'.format(num))

The given nubmer 34 is even

Here's another example, which uses the in operator to check membership within  tuple

In [7]:
namelist=('Jakir','Tonima','Chondi')
acan='Babu'

if acan in namelist:
    print('{} is in namelist'.format(acan))
else:
    print("{} is not namelist".format(acan))

Babu is not namelist

# Instead of else if python are use elif

In [16]:
nu=15

if nu%2==0:
    print('{} is divisible by 2'.format(nu))
elif nu%3==0:
    print("{} is divisible by 3".format(nu))
elif nu%5==0:
    print('{} is divisible by 5'.format(nu))
elif nu % 7 == 0:
    print('{} is divisible by 7'.format(nu))

15 is divisible by 3

In [12]:
today='Wednesday'

if today == 'Sunday':
    print("Today is the day of the sun.")
elif today == 'Monday':
    print("Today is the day of the moon.")
elif today == 'Tuesday':
    print("Today is the day of Tyr, the god of war.")
elif today == 'Wednesday':
    print("Today is the day of Odin, the supreme diety.")
elif today == 'Thursday':
    print("Today is the day of Thor, the god of thunder.")
elif today == 'Friday':
    print("Today is the day of Frigga, the goddess of beauty.")
elif today == 'Saturday':
    print("Today is the day of Saturn, the god of fun and feasting.")

Today is the day of Odin, the supreme diety.

In [18]:
if nu%3==0 and nu%5==0:
    print("The number {} is divisible by 3 and 5".format(nu))
elif not nu%5==0:
    print('The number {} is not divisible by 5'.format(nu))

The number 15 is divisible by 3 and 5

# Non-Boolean Conditions
Note that conditions do not necessarily have to be booleans. In fact, a condition can be any value. The value is converted into a boolean automatically using the bool operator. This means that falsy values like 0, '', {}, [], etc. evaluate to False and all other values evaluate to True.

In [19]:
if '':
    print('The condition evaluted to True')
else:
    print('The condition evaluted to false')

The condition evaluted to false

In [20]:
if 'Hello':
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to True

In [21]:
if { 'a': 34 }:
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to True

In [22]:
if None:
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to False

# Nested conditional statements
The code inside an if block can also include an if statement inside it. This pattern is called nesting and is used to check for another condition after a particular condition holds true

In [23]:
a_number=34

if a_number % 2 == 0:
    print("{} is even".format(a_number))
    if a_number % 3 == 0:
        print("{} is also divisible by 3".format(a_number))
    else:
        print("{} is not divisible by 3".format(a_number))
else:
    print("{} is odd".format(a_number))
    if a_number % 5 == 0:
        print("{} is also divisible by 5".format(a_number))
    else:
        print("{} is not divisible by 5".format(a_number))

34 is even
34 is not divisible by 3

# Shorthand if conditional expression

In [24]:
parity = 'even' if a_number % 2 == 0 else 'odd'
print('The number {} is {}.'.format(a_number,parity))

The number 34 is even.

# Pass statement

In [25]:
if nu%2==0:
    pass
elif nu%3==0:
    print("The number is multiple of 3")

The number is multiple of 3

# Iteration with while loops

In [26]:
#find factorial using while loop
res=1
i=1;
while i<=10:
    res*=i;
    i+=1;
print("The factorial of 10 is {}".format(res))

The factorial of 10 is 3628800

In [27]:
line='*'
max_len=10
while len(line)<max_len:
    print(line)
    line+="*"
    
while len(line)>0:
    print(line)
    line=line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

# # Break and continue statement

In [30]:
i=1
res=1
while i<=100:
     res*=i
     if i==42:
        print("Magic nubmer 42 reached! stopping execution")
        break
     i+=1
    
print('i:',i)
print('Result :',res)

Magic nubmer 42 reached! stopping execution
i: 42
Result : 1405006117752879898543142606244511569936384000000000

In [31]:
i = 1
result = 1

while i < 20:
    i += 1
    if i % 2 == 0:
        print('Skipping {}'.format(i))
        continue
    print('Multiplying with {}'.format(i))
    result = result * i
    
print('i:', i)
print('result:', result)

Skipping 2
Multiplying with 3
Skipping 4
Multiplying with 5
Skipping 6
Multiplying with 7
Skipping 8
Multiplying with 9
Skipping 10
Multiplying with 11
Skipping 12
Multiplying with 13
Skipping 14
Multiplying with 15
Skipping 16
Multiplying with 17
Skipping 18
Multiplying with 19
Skipping 20
i: 20
result: 654729075

# Iteration with for loops

In [32]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday

In [33]:
for char in 'Monday':
    print(char)

M
o
n
d
a
y

In [34]:
person = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

for key in person:
    print("Key:", key, ",", "Value:", person[key])

Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: married , Value: True

In [35]:
for value in person.values():
    print(value)

John Doe
Male
32
True

In [36]:
for key_value_pair in person.items():
    print(key_value_pair)
('name', 'John Doe')
('sex', 'Male')
('age', 32)
('married', True)

('name', 'John Doe')
('sex', 'Male')
('age', 32)
('married', True)

('married', True)

In [38]:
for key, value in person.items():
    print("Key:", key, ",", "Value:", value)

Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: married , Value: True

# Iterating using range and enumerate

The range function is used to create a sequence of numbers that can be iterated over using a for loop. It can be used in 3 ways:

range(n) - Creates a sequence of numbers from 0 to n-1
range(a, b) - Creates a sequence of numbers from a to b-1
range(a, b, step) - Creates a sequence of numbers from a to b-1 with increments of step
Let's try it out.

In [39]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [40]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [41]:
for i in range(3,10,2):
    print(i)

3
5
7
9

In [42]:
a_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for i in range(len(a_list)):
    print('The value at position {} is {}.'.format(i, a_list[i]))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.

In [43]:
for i, val in enumerate(a_list):
    print('The value at position {} is {}.'.format(i, val))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.

In [46]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for day in weekdays:
    print('Today is {}'.format(day))
    if (day == 'Wednesday'):
        print("I don't work beyond Wednesday!")
        break

Today is Monday
Today is Tuesday
Today is Wednesday
I don't work beyond Wednesday!

In [47]:
for day in weekdays:
    if (day == 'Wednesday'):
        print("I don't work on Wednesday!")
        continue
    print('Today is {}'.format(day))

Today is Monday
Today is Tuesday
I don't work on Wednesday!
Today is Thursday
Today is Friday

In [48]:
#For loops cannot be empty, so you can use a pass statement if you don't want to execute any statement inside the loop
for day in weekdays:
    pass

# Nested for and while loops

In [49]:
persons = [{'name': 'John', 'sex': 'Male'}, {'name': 'Jane', 'sex': 'Female'}]

for person in persons:
    for key in person:
        print(key, ":", person[key])
    print(" ")

name : John
sex : Male

name : Jane
sex : Female

In [50]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['apple', 'banana', 'guava']

for day in days:
    for fruit in fruits:
        print(day, fruit)

Monday apple
Monday banana
Monday guava
Tuesday apple
Tuesday banana
Tuesday guava
Wednesday apple
Wednesday banana
Wednesday guava